@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  :root {
    --background: 28 20% 97%; /* Bege: #f5f2ec */
    --foreground: 222 47% 11%; /* Preto suave para texto */

    --card: 28 20% 97%;
    --card-foreground: 222 47% 11%;

    --popover: 28 20% 97%;
    --popover-foreground: 222 47% 11%;

    --primary: 147 24% 67%; /* Verde: #a3ccb3 */
    --primary-foreground: 222 47% 11%;

    --secondary: 191 56% 70%; /* Azul: #8fccda */
    --secondary-foreground: 222 47% 11%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 65.1%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222 47% 11%;

    --destructive: 13 81% 81%; /* Rosa: #f4b6a0 */
    --destructive-foreground: 222 47% 11%;

    --border: 214 32% 91.4%;
    --input: 214 32% 91.4%;
    --ring: 147 24% 67%; /* Verde: #a3ccb3 */

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65.1%;
    --accent: 217 33% 17%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 213 94% 68%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans; /* Define 'Questrial' como a fonte padrão do corpo */
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif; /* Define 'Playfair Display' como a fonte de títulos */
  }
}